@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TexiaHUB</h1>
    <p class="lead">This is TexiaHUB</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Vad göra 1</h2>
        <p>
            Lite info kanske.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Vad göra 2</h2>
        <p>Och ännu mer info.</p>
        <p><a class="btn btn-default" href="https://connect.garmin.com/sv-SE/">Garmin </a></p>
    </div>
    
</div>